input{
    font-size: 18px;
    padding: 15px 20px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    outline: medium;
    font-family: "Al Nile";
}
select{
    font-size: 18px;
    padding: 15px 20px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    outline: medium;
    font-family: "Al Nile";
}

textarea{
    font-size: 18px;
    padding: 15px 20px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    outline: medium;
    font-family: "Al Nile";
}

label{
    font-size: 18px;
    padding: 15px 20px;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
}

.registration{
    background-color: darkseagreen;
    font-palette: black;
    border: 2px solid black;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;

}

@keyframes med {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tabletka {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: med;
    animation: med 4s linear infinite;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-self: center;
}

