input{
    font-size: 30px;
    padding: 15px 20px;
    border: 2px solid #007BFF;
    border-radius: 20px;
    width: 450px;
    outline: medium;
    font-family: "Al Nile";
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
select{
    font-size: 18px;
    padding: 15px 20px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    outline: medium;
    font-family: "Al Nile";
}

textarea{
    font-size: 18px;
    padding: 15px 20px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    outline: medium;
    font-family: "Al Nile";
}

label{
    font-size: 18px;
    padding: 15px 20px;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
}

.registration{
    background-color: darkseagreen;
    font-palette: black;
    border: 2px solid black;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

@keyframes medical-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.image-animation {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: medical-rotate;
    animation: med 4s linear infinite;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-self: center;
}

details{
    font-size: 15px;
}
summary{
    font-size: 25px;
}

.analysis{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}
#table-design {
    border: 1px solid darkslategrey;
    padding: 8px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    max-width: 800px;
    border-collapse: collapse;
    width: 150%;
}

#thead-design-analysis {
    background-color: darkslategrey;
    text-align: center;
    color: white;
    border-block-end: #555555;
}

